<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>18</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>17</string>
					<key>Timestamp</key>
					<string>731991858.177011</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GHFollowers/Screens/FollowerListVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var collectionView: UICollectionView!
</string>
				<key>leading</key>
				<string>	var isLoadingMoreFollowers = false
    
</string>
				<key>trailing</key>
				<string>    var dataSource: UICollectionViewDiffableDataSource&lt;Section, Follower&gt;!
	
	init(username: String) {
</string>
			</dict>
			<key>title</key>
			<string>CollectionView</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>7</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>6</string>
					<key>Timestamp</key>
					<string>732559395.74506</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GHFollowers/Screens/FavouritesListVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>	let tableView            	= UITableView()
</string>
				<key>leading</key>
				<string>
class FavouritesListVC: UIViewController {
</string>
				<key>trailing</key>
				<string>	var favourites: [Follower]	= []
	
	override func viewDidLoad() {
</string>
			</dict>
			<key>title</key>
			<string>TableView</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>47</string>
					<key>StartingColumnNumber</key>
					<string>74</string>
					<key>StartingLineNumber</key>
					<string>46</string>
					<key>Timestamp</key>
					<string>732559861.2247159</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GHFollowers/Screens/SearchVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        show(followerListVC, sender: self)
		
//		UIView.animate(withDuration: 0.33, delay: 0, options: .curveEaseIn) { // study purpose only</string>
				<key>trailing</key>
				<string>//			view.layoutIfNeeded() // force update of any layout changes to be animated
//		}
    }
</string>
			</dict>
			<key>title</key>
			<string>Animation</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
